.header {
    display: flex;
    justify-content: right;
    background-color: #000000;
    padding: 20px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

.navbar li {
    display: inline;
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
}

.navbar a:hover {
    color: #555;
}